@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&familia=Poppins:peso@300;400;500;600;700;800&display=swap);



:root{  
--background: #02050e; 
--primary: #1e50ff;
--secondary: #cc4949;  
--btn-bg: #050d26;
--bg-azul-10: #253d8b;
--bg-white: #bb1f1f;
--bg-electric: #438197; 
--nav_-bg: #0f1525;
 /* Textos */
 --text-gray: #adb9c7;
 --text-white: #f3f4f6;
}


*{background: var(--secondary);
    width: 100%;
    display: flex;}

.header{ 
    background-color: #e37777;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 30px 30pc 30px 30px;}

.logo{ 
    height: 40%;
}
.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
